{% extends 'view.html.twig' %}

{% block body %}
<div class="row">
  <div class="col s10 offset-s1">
  {{ parent() }}
  {% for i in 1..totalpage  %}
    {% if i == page %}
      {{ i }}
    {% else %}
        <a href="{{ path('all_article', {'page': i}) }}">{{ i }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>

{% endblock %}

{% block filtre %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  </div>
</div>
{% endblock %}
